<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>3DSecure 2.0 Authentication</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/spinner.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">Test Lab Shop</a>
    <div class="dropdown">
        <button type="button" class="btn btn-dark" data-toggle="dropdown">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart <span
            class="badge badge-pill badge-danger" data-th-text="${cart.count}">3</span>
        </button>

        <div class="dropdown-menu">
            <div class="row total-header-section">
                <div class="col-lg-6 col-sm-6 col-6">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span
                    class="badge badge-pill badge-danger" data-th-text="${cart.count}">3</span>
                </div>
                <div class="col-lg-6 col-sm-6 col-6 total-section text-right">
                    <p>Total: <span class="text-info"
                                    data-th-text="'$' + ${cart.totalPrice} + '0'">$2,978.24</span>
                    </p>
                </div>
            </div>
            <div class="row cart-detail" data-th-each="item : ${cart.items}">

                <div class="col-lg-4 col-sm-4 col-4 cart-detail-img">
                    <img data-th-src="${item.value.imagePath}">
                </div>
                <div class="col-lg-8 col-sm-8 col-8 cart-detail-product">
                    <div class="row">
                        <p class="col-sm-9" data-th-text="${item.value.name}">Apple</p>
                        <div class="col-sm-3">
                            <input type="hidden" name="key" data-th-value="${item.key}">
                            <input type="hidden" name="quantity" data-th-value="0"/>
                        </div>
                    </div>
                    <span class="price text-info"
                          data-th-text="'$' + ${item.value.unitPrice} + 0"> $250.22</span>
                    <span class="count"
                          data-th-text="'Quantity:' + ${item.value.quantity}"> Quantity:01</span>
                </div>
            </div>

            <div class="checkout">
                <a href="/" class="checkout-button btn btn-primary btn-block">Back to shopping</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row h-100 card-row">
        <div class="col-sm-8">
            <!--Checkout card-->

            <div class="card d-none" id="checkoutCard">
                <div class="challengeContainer border">
                    <div class="spinner row h-100 justify-content-center align-items-center">
                        <div class="col">
                            <div class="sk-fading-circle">
                                <div class="sk-circle1 sk-circle"></div>
                                <div class="sk-circle2 sk-circle"></div>
                                <div class="sk-circle3 sk-circle"></div>
                                <div class="sk-circle4 sk-circle"></div>
                                <div class="sk-circle5 sk-circle"></div>
                                <div class="sk-circle6 sk-circle"></div>
                                <div class="sk-circle7 sk-circle"></div>
                                <div class="sk-circle8 sk-circle"></div>
                                <div class="sk-circle9 sk-circle"></div>
                                <div class="sk-circle10 sk-circle"></div>
                                <div class="sk-circle11 sk-circle"></div>
                                <div class="sk-circle12 sk-circle"></div>
                            </div>

                            <div class="text-center"><img class="w-25" src="images/visa-logo.png"/></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Cardholder information -->
            <div class="card" id="cardholderInfoCard">
                <div class="card-header">Cardholder Information</div>
                <form class="card-body" id="cardholder-info-form">

                    <h4 class="mb-3">Payment</h4>
                    <dl class="row">
                        <dt class="col-sm-4">Name on card</dt>
                        <dd class="col-sm-8">
                            <input type="text" id="cardholderName" class="form-control"
                                   data-th-value="${cardholder.cardholderName}" required
                                   title="cardholderName"/>
                        <dt class="col-sm-4">Card Number</dt>
                        <dd class="col-sm-8">
                            <input type="text" id="cardNumber" class="form-control"
                                   data-th-value="${cardholder.cardNumber}" required
                                   title="cardNumber"/>
                        </dd>

                        <dt class="col-sm-4">Expiry Date (YYMM)</dt>
                        <dd class="col-sm-8">
                            <input type="text" id="cardExpiry" class="form-control"
                                   data-th-value="${cardholder.cardExpiry}" required
                                   title="expiry date"/>
                        </dd>
                        <dt class="col-sm-4">Currency</dt>
                        <dd class="col-sm-8">
                            <input type="text" id="purchaseCurrency" class="form-control"
                                   value="036" required
                                   title="purchase currency"/>
                        </dd>
                    </dl>

                    <hr class="mb-4"/>

                    <h4 class="card-title">Billing details</h4>
                    <p class="card-text">Enter your billing details and click "Continue to checkout".</p>
                    <dl class="row">
                        <dt class="col-sm-4">Email</dt>
                        <dd class="col-sm-8">
                            <input type="text" id="email" class="form-control" value="abc@123.com" required
                                   title="email"/>
                        <dt class="col-sm-4">Address Line 1</dt>
                        <dd class="col-sm-8">
                            <input type="text" id="billAddrLine1" class="form-control" value="Unit 1" required
                                   title="billAddrLine1"/>
                        </dd>
                        <dt class="col-sm-4">Address Line 2</dt>
                        <dd class="col-sm-8">
                            <input type="text" id="billAddrLine2" class="form-control" value="123 Street Suburb"
                                   required title="billAddrLine2"/>
                        </dd>
                        <dt class="col-sm-4">City</dt>
                        <dd class="col-sm-8">
                            <input type="text" id="billAddrCity" class="form-control" value="Sydney" required
                                   title="billAddrCity"/>
                        </dd>
                        <dt class="col-sm-4">State</dt>
                        <dd class="col-sm-8">
                            <input type="text" id="billAddrState" class="form-control" value="NSW" required
                                   title="billAddrState"/>
                        </dd>
                        <dt class="col-sm-4">ZIP</dt>
                        <dd class="col-sm-8">
                            <input type="text" id="billAddrPostCode" class="form-control" value="2000" required
                                   title="billAddrPostCode"/>
                        </dd>
                        <dt class="col-sm-4">Country</dt>
                        <dd class="col-sm-8">
                            <input type="text" id="billAddrCountry" class="form-control"
                                   value="Australia"
                                   required
                                   title="billAddrCountry"/>
                        </dd>

                        <dt class="col-sm-4">Mobile Number</dt>
                        <dd class="col-sm-8">
                            <input type="text" id="phoneNumber" class="form-control" value="0421522329" required
                                   title="phoneNumber"/>
                        </dd>
                    </dl>

                    <hr class="mb-4"/>
                    <div class="row">

                        <dt class="col-sm-12">Is this address also your billing address?</dt>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="shipping-radios"
                                       id="shipping-radio-yes"
                                       value="option1" onclick="showAdvancedDetails(false)" checked>
                                <label class="form-check-label" for="shipping-radio-yes">
                                    Yes
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="shipping-radios"
                                       id="shipping-radio-no"
                                       value="option2" onclick="showAdvancedDetails(true)">
                                <label class="form-check-label" for="shipping-radio-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="advanced-details" class="d-none">
                        <hr class="mb-4"/>
                        <h4 class="card-title">Shipping details</h4>
                        <p class="card-text">Enter you shipping details and click "Continue to checkout".</p>
                        <d1 class="row">
                            <dt class="col-sm-4">Address Line 1</dt>
                            <dd class="col-sm-8">
                                <input type="text" id="shipAddrLine1" class="form-control" value="Unit 1" required
                                       title="shipping address 1"/>
                            </dd>
                            <dt class="col-sm-4">Address Line 2</dt>
                            <dd class="col-sm-8">
                                <input type="text" id="shipAddrLine2" class="form-control" value="123 Street"
                                       required title="shipping address 2"/>
                            </dd>
                            <dt class="col-sm-4">City</dt>
                            <dd class="col-sm-8">
                                <input type="text" id="shipAddrCity" class="form-control" value="Sydney" required
                                       title="shipping address city"/>
                            </dd>
                            <dt class="col-sm-4">State</dt>
                            <dd class="col-sm-8">
                                <input type="text" id="shipAddrState" class="form-control" value="NSW" required
                                       title="shipping address state"/>
                            </dd>
                            <dt class="col-sm-4">ZIP</dt>
                            <dd class="col-sm-8">
                                <input type="text" id="shipAddrPostCode" class="form-control" value="2000" required
                                       title="shipping adddress post code"/>
                            </dd>
                            <dt class="col-sm-4">Country</dt>
                            <dd class="col-sm-8">
                                <input type="text" id="shipAddrCountry" class="form-control"
                                       value="Australia"
                                       required
                                       title="shipping address country"/>
                            </dd>
                        </d1>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill" data-th-text="${cart.count}">3</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed"
                    data-th-each="item : ${cart.items}">
                    <div class="row cart-detail">
                        <div class="col-lg-4 col-sm-4 col-4 cart-detail-img">
                            <img data-th-src="${item.value.imagePath}">
                        </div>
                        <div class="col-lg-8 col-sm-8 col-8 cart-detail-product">
                            <p data-th-text="${item.value.name}">Apple</p>
                            <span class="price text-info"
                                  data-th-text="'$' + ${item.value.unitPrice} + 0"> $250.22</span>
                            <span class="count"
                                  data-th-text="'Quantity:' + ${item.value.quantity}"> Quantity:01</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong data-th-text="'$' + ${cart.totalPrice} + 0"></strong>
                    <input type="hidden" id="totalPrice" data-th-value="${cart.totalPrice}"/>
                </li>

                <div id="checkoutButton">
                    <button data-th-if="${cart.count} > 0" class="btn btn-primary btn-lg btn-block"
                            onclick="checkout()">Continue to checkout
                    </button>
                    <!--disable button if no items added-->
                    <button data-th-if="${cart.count} == 0"
                            class="btn btn-primary btn-lg btn-block disabled">
                        Continue to checkout
                    </button>
                </div>

            </ul>
        </div>

    </div>

    <input type="hidden" id="transId" data-th-value="${transId}"/>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/js/3ds-web-adapter.js"></script>

<script>
    function showAdvancedDetails(toShow) {
        var advancedDiv = document.getElementById("advanced-details");
        if (toShow) {
            advancedDiv.classList.remove("d-none");
        } else {
            advancedDiv.classList.add("d-none");
            // make shipping address the same as billing address.
            $("#shipAddrLine1").val($("#billAddrLine1").val());
            $("#shipAddrLine2").val($("#billAddrLine2").val());
            $("#shipAddrCity").val($("#billAddrCity").val());
            $("#shipAddrState").val($("#billAddrState").val());
            $("#shipAddrPostCode").val($("#billAddrPostCode").val());
            $("#shipAddrCountry").val($("#billAddrCountry").val());
        }
    }

    function checkout() {
        var transId = $('#transId').val();

        // NOTE: Some attributes are set to default values for demo purpose
        var cardHolderInfo = {};

        if($('#billAddrLine1').val()) {
            cardHolderInfo.billAddrLine1 = $('#billAddrLine1').val();
        }

        if($('#billAddrLine2').val()) {
            cardHolderInfo.billAddrLine2 = $('#billAddrLine2').val();
        }

        if($('#billAddrCity').val()) {
            cardHolderInfo.billAddrCity = $('#billAddrCity').val();
        }

        if($('#billAddrState').val()) {
            cardHolderInfo.billAddrState = $('#billAddrState').val();
            cardHolderInfo.billAddrCountry = '036';
        }

        if($('#billAddrPostCode').val()) {
            cardHolderInfo.billAddrPostCode = $('#billAddrPostCode').val();
        }

        if($('#shipAddrLine1').val()) {
            cardHolderInfo.shipAddrLine1 = $('#shipAddrLine1').val();
        }

        if($('#shipAddrLine2').val()) {
            cardHolderInfo.shipAddrLine2 = $('#shipAddrLine2').val();
        }

        if($('#shipAddrCity').val()) {
            cardHolderInfo.shipAddrCity = $('#shipAddrCity').val();
        }

        if($('#shipAddrState').val()) {
            cardHolderInfo.shipAddrState = $('#shipAddrState').val();
            cardHolderInfo.shipAddrCountry = '036';
        }

        if($('#shipAddrPostCode').val()) {
            cardHolderInfo.shipAddrPostCode = $('#shipAddrPostCode').val();
        }

        if($('#cardholderName').val()) {
            cardHolderInfo.cardholderName = $('#cardholderName').val();
        }

        if($('#phoneNumber').val()) {
            cardHolderInfo.mobilePhone = {cc: '61', subscriber: $('#phoneNumber').val()};
        }

        if($('#email').val()) cardHolderInfo.email = $('#email').val();

        var purchaseInfo = {
            acctNumber: $('#cardNumber').val(),
            purchaseAmount: $('#totalPrice').val() * 100
        };

        if($('#purchaseCurrency').val()) {
            purchaseInfo.purchaseCurrency = $('#purchaseCurrency').val();
        }

        if($('#cardExpiry').val()) {
            purchaseInfo.expiryDate = $('#expiryDate').val();
        }
        //remove cardholder information class, checkout button and show spinner effect
        $("#checkoutButton").remove();

        $("#cardholderInfoCard").remove();
        $("#checkoutCard").removeClass("d-none");

        threeDSAuth(transId, cardHolderInfo, purchaseInfo);
    }
</script>
</body>
</html>